<?xml version="1.0"?>
<appSettings>
  <!--默认生成配置-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!--配置站点URL-->
  <add key="tokenurl" value="http://www.3gjn.com" />
  <add key="AppSecret" value="6cdca2151e14408d87f91464916550be" />
</appSettings>
