<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>@ViewBag.Title - 外卖红包</title>
    <link href="~/Content/Lib/weui/dist/style/weui.min.css" rel="stylesheet" />
    <script src="~/Content/Lib/weui/dist/weui.min.js"></script>
    <style>
        .page, body {
            background-color: #f8f8f8;
        }
    </style>
</head>
<body>
    <div class="page">
        @RenderBody()
        <div class="weui-tabbar" style="position:fixed;  bottom:0" ;>
            <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
                <span style="display: inline-block;position: relative;">
                    <img src="~/Content/images/quan.png" alt="" class="weui-tabbar__icon">
                    <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                </span>
                <p class="weui-tabbar__label">领券</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item">
                <img src="~/Content/images/da.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">大红包</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item">
                <span style="display: inline-block;position: relative;">
                    <img src="~/Content/images/faxian.png" alt="" class="weui-tabbar__icon">
                    <span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
                </span>
                <p class="weui-tabbar__label">发现</p>
            </a>
            <a href="#" class="weui-tabbar__item">
                <img src="~/Content/images/user.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">我</p>
            </a>
        </div>
    </div>
</body>
</html>